#content {
 background: white;
}

#container {
  width: auto;
}

#main {
  width: 80%;
  float: right;
  padding: 0px;
}

#sub {
	width: 15%;
	float: left;
  padding: 5px;
}

#apidoc_toc {
  padding: 10px;
}

.function_name {
font: normal 1em "Courier New", Courier, Monospace;
white-space: nowrap;
font-weight: bold;
}
