#content {
 background: white;
}

#container {
  width: auto;
}

#page_content {
  padding: 0px 30px;
}

#main {
  width: 80%;
  float: none;
  padding: 0px;
  right: 0px;
}

#sub {
	width: 20%;
  /*
	float: left;
  */

  font-weight: bold;
  color: #333333;
  font-size: 0.9em;
}

#main, #sub {
  overflow:auto;
  position:fixed;
  bottom:0px;
  top:90px;
  background: none repeat scroll 0 0 white;
}

#apidoc_toc {
  padding: 8px;
}

.function_name {
/*font: normal 1em "Courier New", Courier, Monospace;*/
white-space: nowrap;
font-weight: bold;
}

.doclist {
  width: auto;
}

.currentPage {
  color: #F86D07;
}

code.syntax {
  white-space: pre;
  font-size: 1.4em;
}

.example pre {
  font-size: 1.3em;
  line-height: 140%;
}

.indented_function {
  margin-left: 2em;
}
