.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.btn-action {
  display: block;
  position: relative;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background-color: #f8f8f8;
  background-image: -moz-linear-gradient(top, white, #eeeeee);
  background-image: -ms-linear-gradient(top, white, #eeeeee);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#eeeeee));
  background-image: -webkit-linear-gradient(top, white, #eeeeee);
  background-image: -o-linear-gradient(top, white, #eeeeee);
  background-image: linear-gradient(top, white, #eeeeee);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='#eeeeee', GradientType=0);
  text-shadow: 0 1px 0 white;
  -moz-box-shadow: inset 0 0 5px #333333;
  -webkit-box-shadow: inset 0 0 5px #333333;
  box-shadow: inset 0 0 5px #333333;
  border: 1px solid white;
  font-family: Arial, sans-serif;
  font-size: 1.4em;
  font-weight: bold;
  line-height: 1.1em;
  margin: 0;
  padding: 15px 24px;
  color: #333333;
}
.btn-action span {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 0.6em;
  color: #d92231;
  font-weight: normal;
}
.btn-action span:after {
  content: url("orig/ctaarrow.png");
  position: absolute;
  top: 8px;
  right: 9px;
}
.btn-action:hover {
  text-decoration: none;
  background-color: white;
  background-image: -moz-linear-gradient(top, white, white);
  background-image: -ms-linear-gradient(top, white, white);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(white));
  background-image: -webkit-linear-gradient(top, white, white);
  background-image: -o-linear-gradient(top, white, white);
  background-image: linear-gradient(top, white, white);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='white', GradientType=0);
}
.btn-action.active {
  text-decoration: none;
  background-color: #eaefd6;
  background-image: -moz-linear-gradient(top, white, #ccd897);
  background-image: -ms-linear-gradient(top, white, #ccd897);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#ccd897));
  background-image: -webkit-linear-gradient(top, white, #ccd897);
  background-image: -o-linear-gradient(top, white, #ccd897);
  background-image: linear-gradient(top, white, #ccd897);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='#ccd897', GradientType=0);
}
.reset {
  list-style: none;
  margin: 0;
  padding: 0;
}
.span12 {
  width: 940px;
}
.span11 {
  width: 860px;
}
.span10 {
  width: 780px;
}
.span9 {
  width: 700px;
}
.span8 {
  width: 620px;
}
.span7 {
  width: 540px;
}
.span6 {
  width: 460px;
}
.span5 {
  width: 380px;
}
.span4 {
  width: 300px;
}
.span3 {
  width: 220px;
}
.span2 {
  width: 140px;
}
.span1 {
  width: 60px;
}
[class*="span"] {
  float: left;
  margin-left: 20px;
}
[class*="span"]:first-child {
  margin-left: 0;
}
.dc .row {
  padding: 0 80px;
  *zoom: 1;
}
.dc .row:before,
.dc .row:after {
  display: table;
  content: "";
}
.dc .row:after {
  clear: both;
}
.dc #bottom2 {
  background: whitesmoke;
  margin-bottom: -20px;
  padding-bottom: 5px;
}
.dc #bottom2:after {
  content: "";
  display: block;
  clear: both ;
  height: 0;
  visibility: hidden;
}
.dc #bottom2 > h2 {
  margin-bottom: 30px;
}
.dc #bottom2 > h2 a {
  font-size: 12px;
  margin-left: 30px;
}
.dc #bottom2 > section {
  border-color: transparent white transparent #dddddd;
  padding: 0 5px 40px 8px;
  width: 225px;
  min-height: 260px;
}
.dc #bottom2 > h2 + section {
  padding-left: 0;
  border-left: none;
}
.dc #bottom2 > h2 + section + section + section + section {
  padding-right: 0;
  border-right: none;
}
.dc #bottom2 h3 {
  color: #2c2c2c;
  font-size: 16px;
  border-bottom: 1px solid white;
  margin-top: -5px;
  font-weight: 600;
  font-family: Arial, sans-serif;
}
.dc #bottom2 h3:after {
  content: "";
  display: block;
  border-bottom: 1px solid #dddddd;
  margin-top: 10px;
}
.dc #bottom2 h3 img {
  vertical-align: bottom;
}
.dc #bottom2 article {
  font-size: 12px;
  line-height: 133%;
  margin: 15px 0;
}
.dc #bottom2 article h4 {
  margin: 0;
}
.dc #bottom2 .more {
  font-size: 12px;
  font-weight: bold;
  width: 225px;
  left: auto;
  border-color: #dddddd;
}
.dc #banner {
  xbackground: #eef0dd url(/images/bannerbg.jpg) no-repeat center top;
  background-image: -moz-linear-gradient(top, #eeeeee, white);
  background-image: -ms-linear-gradient(top, #eeeeee, white);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eeeeee), to(white));
  background-image: -webkit-linear-gradient(top, #eeeeee, white);
  background-image: -o-linear-gradient(top, #eeeeee, white);
  background-image: linear-gradient(top, #eeeeee, white);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='white', GradientType=0);
  color: #222222;
  *zoom: 1;
  padding: 20px 0;
}
.dc #banner:before,
.dc #banner:after {
  display: table;
  content: "";
}
.dc #banner:after {
  clear: both;
}
.dc #banner .left {
  width: 380px;
  float: left;
  margin-left: 20px;
}
.dc #banner .right {
  width: 460px;
  margin-left: 20px;
  float: left;
}
.dc #banner h1 {
  font-size: 3.5em;
  line-height: 0.9em;
  font-weight: 700;
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 20px 0;
}
.dc #banner p.summary {
  font-size: 1.4em;
  line-height: 1.3em;
}
.dc #hmfeature, .dc .hmround {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #CCC;
  background-color: #f8f9f1;
  color: #555555;
}


.dc #interact, img.banner-ad {
  clear: both;
  *zoom: 1;
  background: white;
  background-color: #e3e3e3;
  xbackground-image: -moz-linear-gradient(top, white, #f1f1f1);
  xbackground-image: -ms-linear-gradient(top, white, #f1f1f1);
  xbackground-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#f1f1f1));
  xbackground-image: -webkit-linear-gradient(top, white, #f1f1f1);
  xbackground-image: -o-linear-gradient(top, white, #f1f1f1);
  xbackground-image: linear-gradient(top, white, #f1f1f1);
  xbackground-repeat: repeat-x;
  xfilter: progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='#f1f1f1', GradientType=0);
  margin: 30px 80px 20px;
  padding: 30px 36px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid gray;
  padding-right:0;
}
.dc #interact:before,
.dc #interact:after {
  display: table;
  content: "";
}
.dc #interact:after {
  clear: both;
}
.dc #playlist {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  background: #f6f6f6;
  height: 259px;
  border: 1px solid #222222;
  float: left;
  width: 382px;
}
.dc #playlist li {
  margin: 0;
  padding: 10px 10px 8px 20px;
  background-color: #f8f9f1;
  background-image: -moz-linear-gradient(top, white, #e3e3e3);
  background-image: -ms-linear-gradient(top, white, #e3e3e3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#e3e3e3));
  background-image: -webkit-linear-gradient(top, white, #e3e3e3);
  background-image: -o-linear-gradient(top, white, #e3e3e3);
  background-image: linear-gradient(top, white, #e3e3e3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='#e3e3e3', GradientType=0);
  color: #555555;
  border-top: 1px solid white;
  border-bottom: 1px solid #cccccc;
  position: relative;
  *zoom: 1;
  cursor: pointer;
}
.dc #playlist li:before,
.dc #playlist li:after {
  display: table;
  content: "";
}
.dc #playlist li:after {
  clear: both;
}
.dc #playlist li:first-child {
  border-top: none;
}
.dc #playlist li .thumb {
  float: left;
  width: 100px;
  height: 66px;
  overflow: hidden;
  margin-right: 10px;
  position: relative;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.dc #playlist li .thumb img {
  margin: -12px 0;
}
.dc #playlist li .thumb span.time {
  margin: 0;
  font-weight: bold;
  font-size: 0.8em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 0 3px;
  background: black;
  color: white;
  position: absolute;
  bottom: 3px;
  right: 3px;
}
.dc #playlist li .thumb:before {
  content: url('/images/play.png');
  position: absolute;
  top: 20px;
  left: 30px;
  z-index: 10;
  margin: 0;
}
.dc #playlist li .desc {
  margin-left: 120px;
  line-height: 1.1em;
}
.dc #playlist li .desc h4 {
  margin: 0.1em 0 0;
  padding: 0;
  font-size: 0.9em;
  font-weight: bold;
}
.dc #playlist li .desc p {
  margin: 0 0 0.4em;
  padding: 0;
  font-size: 0.8em;
}
.dc #playlist li .desc a {
  display: block;
  float: left;
  font-size: 0.8em;
}
.dc #xplaylist li:hover {
  background-color: #ddd;
  background-image: -moz-linear-gradient(top, #ddd, #ccc);
  background-image: -ms-linear-gradient(top, #ddd, #ccc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ddd), to(#ccc));
  background-image: -webkit-linear-gradient(top, #ddd, #ccc);
  background-image: -o-linear-gradient(top, #ddd, #ccc);
  background-image: linear-gradient(top, #ddd, #ccc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ddd', endColorstr='#ccc', GradientType=0);
  color: black;
}
.dc #playlist li:hover .thumb {
  opacity: 1;
  filter: alpha(opacity=100);
}
.dc #playlist li.active {
  background-color: #ddd;
  background-image: -moz-linear-gradient(top, #ddd, #e3e3e3);
  background-image: -ms-linear-gradient(top, #ddd, #e3e3e3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ddd), to(#e3e3e3));
  background-image: -webkit-linear-gradient(top, #ddd, #e3e3e3);
  background-image: -o-linear-gradient(top, #ddd, #e3e3e3);
  background-image: linear-gradient(top, #ddd, #e3e3e3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ddd', endColorstr='#e3e3e3', GradientType=0);
  color: black;
}
.dc #playlist li.active .thumb {
  opacity: 1;
  filter: alpha(opacity=100);
}
.dc #playlist li.active:before {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #222222;
  position: absolute;
  top: 33px;
  left: 0;
}
.dc #vidwrap {
  background: black;
  float: left;
  width: 460px;
  height: 259px;
  border: 1px solid #222222;
  margin-left: 20px;
}

.dc #vidstill {
    background-repeat: no-repeat;
    cursor: pointer;
}

.dc #products {
  background-color: whitesmoke;
  background-image: -moz-linear-gradient(top, #eeeeee, white);
  background-image: -ms-linear-gradient(top, #eeeeee, white);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eeeeee), to(white));
  background-image: -webkit-linear-gradient(top, #eeeeee, white);
  background-image: -o-linear-gradient(top, #eeeeee, white);
  background-image: linear-gradient(top, #eeeeee, white);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='white', GradientType=0);
  border-top: 1px solid #999999;
  min-height: 200px;
  padding: 40px 80px;
}
.dc #products > h2 {
  margin-bottom: 30px;
}
.dc #products > h2 a {
  font-size: 12px;
  margin-left: 30px;
}
.dc #products ul {
  margin: 0;
  margin-right: -20px;
  padding: 0;
  list-style: none;
  *zoom: 1;
}
.dc #products ul:before,
.dc #products ul:after {
  display: table;
  content: "";
}
.dc #products ul:after {
  clear: both;
}
.dc #products ul li {
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: white;
  background-color: #fdfdfd;
  background-image: -moz-linear-gradient(top, white, #fbfbfb);
  background-image: -ms-linear-gradient(top, white, #fbfbfb);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#fbfbfb));
  background-image: -webkit-linear-gradient(top, white, #fbfbfb);
  background-image: -o-linear-gradient(top, white, #fbfbfb);
  background-image: linear-gradient(top, white, #fbfbfb);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='#fbfbfb', GradientType=0);
  float: left;
  margin: 0 20px 20px 0;
  width: 218px;
  height: 140px;
}
.dc #products ul li:hover {
  border-color: #b9ca72;
  background-color: #fcfcf8;
  background-image: -moz-linear-gradient(top, white, #f7f8ef);
  background-image: -ms-linear-gradient(top, white, #f7f8ef);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#f7f8ef));
  background-image: -webkit-linear-gradient(top, white, #f7f8ef);
  background-image: -o-linear-gradient(top, white, #f7f8ef);
  background-image: linear-gradient(top, white, #f7f8ef);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='#f7f8ef', GradientType=0);
}
.dc #products ul li h3 {
  font-weight: 600;
  font-family: Arial, sans-serif;
  padding: 10px;
  border-bottom: 1px solid #eeeeee;
}
.dc #products ul li h3:after {
  content: "";
  display: block;
  height: 1px;
  background: white;
}
.dc #products ul li p {
  font-size: 0.9em;
  margin: 0;
  padding: 10px;
}

