article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {
	margin: 0;
	padding: 0;
	background: #F5F5F5;
	color: #666;
	font: 14px/129% Arial, Helvetica, Sans-serif;
	min-width: 1050px;
}
a {
	color: #01639D;
	text-decoration: none;
}
a:hover {text-decoration: underline;}
caption {
	font-weight: bold;
	text-align: left;
	color: #899B3B;
}
fieldset, img {
	border: none;
	margin: 0;
	padding: 0;
}
h1, h2, h3 {
	font-weight: normal;
	margin: 0;
}
h2 {
	color: #899B3B;
	font-size: 28px;
}
h3 {font-size: 20px;}
img, input, select, textarea {
	vertical-align: middle;
	margin: 0;
}
legend {
	padding: 0;
	display: none;
}
p {margin: 1em 0;}
table {border-collapse: collapse;}
th, td {
	vertical-align: top;
	text-align: left;
}
ul {
	margin: 1em 0;
	padding: 0;
	list-style: none;
}
.skip, hr {
	position: absolute;
	left: -999em;
}
#content hr {position: static;}
#header header:after, #content:after, #content > section:after, #comments:after {
	content: " ";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
#content:after, #content > section:after {clear: right;}
#container {position: relative;}

#header {
	background: black url(../img/bg_shadow_header.gif) bottom left repeat-x;
	color: white;
	font-size: 11px;
	position: relative;
	z-index: 2;
}
#header header, #breadcrumb > div {
	width: 945px;
	margin: auto;
}
#header header {
	padding: 15px 0 12px;
	position: relative;
}
#header a {color: #CCC;}
#header h1 {float: left;}
#header h1 a {
	background: url(../img/logo.png) no-repeat;
	display: block;
	text-indent: -999em;
	width: 178px;
	height: 44px;
	margin-left: -22px;
}
#header form {	
	float: right;
	margin-top: -5px;
}
.jsenabled #header form {
	border: 1px solid #999;
	background: white;
}
#header form input[type=text] {
	border: none;
	width: 212px;
	padding: 0 0 0 10px;
	height: 17px;
}
#header form input[type=image] {margin-bottom: -2px;}
#header form .default, .utility form .default {
	font: italic 10px Arial, Helvetica, Sans-serif;
	color: #CCC;
	line-height: 17px;
}
#header nav {
	text-transform: uppercase;
	position: absolute;
	right: 11px;
	bottom: -1px;
	font-size: 10px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
#header nav ul {margin: 0;}
#header nav li {
	float: left;
	margin-left: 40px;
	padding-bottom: 8px;
}
#header nav .current {background: url(../img/bg_nav_current.png) bottom center no-repeat;}
#header nav .current a {
	color: white;
	text-decoration: none;
}
#content {
	background: #F5F5F5;
	box-shadow: 0 0 2px rgba(0,0,0,.9);
	-webkit-box-shadow: 0 0 2px rgba(0,0,0,.9);
	-moz-box-shadow: 0 0 2px rgba(0,0,0,.9);
	box-shadow: 0 0 2px rgba(0,0,0,.9);
	position: relative;
	z-index: 1;
	padding-bottom: 20px;
}
#content > section {
	width: 945px;
	margin: auto;
}
#breadcrumb {
	background: white;
	box-shadow: 0 0 2px rgba(0,0,0,.9);
	-webkit-box-shadow: 0 0 2px rgba(0,0,0,.9);
	-moz-box-shadow: 0 0 2px rgba(0,0,0,.9);
	box-shadow: 0 0 2px rgba(0,0,0,.9);
	padding: 10px 0;
	height: 60px;
	font-size: 10px;
	line-height: 100%;
	margin-bottom: 33px;
	position: relative;
}
#breadcrumb a {color: #666;}
#breadcrumb + section {background: url(../img/separator_vert.gif) 271px 0 repeat-y;}
#breadcrumb + section > h2 {
	width: 620px;
	float: right;
	margin: -70px 0 30px;
	line-height: 100%;
	position: relative;
}
#breadcrumb .version {
	font-size: 12px;
	margin-top: 35px;
}
#breadcrumb .version span {font-weight: bold;}
#breadcrumb .version a {color: #01639D;}
#breadcrumb .version b {color: #333;}
#main {
	float: right;
	width: 620px;
}
#main > :first-child {margin-top: 0;}
#main section > h3:first-child {margin-top: 34px;}
#sub {
	float: left;
	width: 250px;
	padding-right: 20px;
}
#sub h2 {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 25px;
}
#sub ul {
	margin: 0;
	border-bottom: 1px solid white;
}
#sub ul ul {border-bottom: none;}
#sub li li, #sub li span {
	border-style: solid;
	border-width: 1px 0;
	border-color: #FFF transparent #E4E4E4;
	padding: 5px 0;
}
#sub li li {padding-left: 30px;}
#sub li:first-child > span {border-top: none;}
#sub li span {
 	display: block;
	font-weight: bold;
}
.jsenabled #sub li > span {
	cursor: pointer;
	padding-left: 18px;
	background: url(../img/s_plusminus.png) left -22px no-repeat;
}
.jsenabled #sub li.active > span {background-position: 0 8px;}
.jsenabled #sub ul ul {display: none;}
#container > footer {
	clear: both;
	font-size: 11px;
	text-align: center;
	padding: 15px 0;
}
.utility {
	position: fixed;
	top: 100px;
	left: -1px;
	background: #F4F4F4;
	-moz-border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
	-webkit-box-shadow: 1px 1px 0 rgba(0,0,0,.1);
	-moz-box-shadow: 1px 1px 0 rgba(0,0,0,.1);
	box-shadow: 1px 1px 0 rgba(0,0,0,.1);
	z-index: 10;
	width: 40px;
	padding: 50px 1px 0 0;
	border: 1px solid #CCC;
}
.jsenabled .utility {
	padding: 1px 1px 1px 0;
	background: white;
}
.utility .u_wrapper {
	background: #F4F4F4;
	padding: 48px 0 0;
}
.utility form {
	position: absolute;
	left: -300px;
	top: -38px;
	background: white;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.3);
	-moz-box-shadow: 1px 1px 1px rgba(0,0,0,.3);
	box-shadow: 1px 1px 1px rgba(0,0,0,.3);
	border: 1px solid #D1D1D1;
	text-align: left;
	padding: 1px;
}
.utility form:hover {left: -5px;}
.jsenabled .utility form:hover {left: -300px;}
.jsenabled .utility form.active:hover,
.utility form.active {
	left: 55px;
	top: 10px;
}
.utility form fieldset {
	padding: 22px 11px 2px;
	background: #ECECEC;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.utility legend {
	display: block;
	font-weight: bold;
	position: absolute;
	top: 4px;
}
.utility input[type=text] {
	border: 1px solid #CFCFCF;
	padding: 0 5px;
	width: 228px;
	height: 19px;
	margin-bottom: 5px;
}
.utility input[type=image] {
	position: absolute;
	left: 304px;
	bottom: -26px;
}
.utility form:hover input[type=image] {
	position: static;
	margin-left: -3px;
}
.jsenabled .utility form:hover input[type=image] {
	position: absolute;
	margin-left: 0;
}
.utility form.active input[type=image] {
	left: -51px;
	top: 1px;
}
.utility .border {border-top: 1px solid white;}
.utility a {
	display: block;
	border-style: solid;
	border-width: 1px 0;
	border-color: #E4E4E4 transparent #FFF;
	padding: 5px 0;
}
.utility a:last-child {border-bottom: none;}
.utility img {margin: 5px 0;}
#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #777;
	background-color: #F1F2F7;
	padding: 2px 5px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#E4E5F0));
	background: -moz-linear-gradient(top, #FFF, #E4E5F0);
	-moz-box-shadow: 3px 3px 3px rgba(0,0,0,.5);
	-webkit-box-shadow: 3px 3px 3px rgba(0,0,0,.5);
	box-shadow: 3px 3px 3px rgba(0,0,0,.5);
}
#tooltip h3, #tooltip div {
	margin: 0;
	font-size: 12px;
}


table.features {
	background: white;
	font-size: 12px;
	line-height: 120%;
	margin: 20px 0 1em 0;
}
.features caption {
	font-size: 16px;
	padding-bottom: 10px;
}
.features thead th {
	background: #ECECEC url(../img/bg_table_features_top.png) center top no-repeat;
	white-space: nowrap;
	vertical-align: bottom;
	padding: 24px 5px 15px;
	line-height: 100%;
}
.features thead th.title {
	font-size: 16px;
	padding-top: 20px;
	padding-left: 15px;
	color: #899B3B;
}
.features thead th:first-child {background-position: left top;}
.features thead th:last-child {background-position: right top;}
.features thead th.last {background-position: right top;}
.features tbody {border-top: 1px solid #CCC;}
.features tbody th, .features tbody td {padding: 10px 5px;}
.features tbody tr:first-child th:first-child {
	padding-left: 15px;
	width: 110px;
	background: url(../img/bg_table_features_bottom.png) top left no-repeat;
}
.features tbody tr:first-child th:first-child,
.features tbody td:last-child,
.features tbody:last-child tr:last-child th,
.features tbody:last-child tr:last-child td
	{background: url(../img/bg_table_features_bottom.png) no-repeat;}
.features tbody td.last,
.features tbody.last tr.last th,
.features tbody.last tr.last td
	{background: url(../img/bg_table_features_bottom.png) no-repeat;}
.features tbody:last-child tr:last-child th,
.features tbody:last-child tr:last-child td
	{background-position: bottom center;}
.features tbody.last tr.last th,
.features tbody.last tr.last td
	{background-position: bottom center;}
.features tbody tr:first-child th:first-child {background-position: top left;}
.features tbody td:last-child {background-position: top right;}
.features tbody td.last {background-position: top right;}
.features tbody:last-child tr:last-child th:first-child {background-position: bottom left;}
.features tbody:last-child tr:last-child td:last-child {background-position: bottom right;}
.features tbody.last tr.last th:first-child {background-position: bottom left;}
.features tbody.last tr.last td.last {background-position: bottom right;}
.features tbody th + th {width: 150px;}
.features th:last-child, .features td:last-child {padding-right: 15px;}
.features th.last, .features td.last {padding-right: 15px;}
.features tbody:last-child tr:last-child td {text-align: center;}
.features tbody.last tr.last td {text-align: center;}
.features small {
	font-weight: normal;
	font-size: 10px;
	display: block;
}

.doclist li > a {font-size: 16px;}
.doclist li > img {vertical-align: bottom;}
.doclist li div {margin: 10px 0 25px;}

#comments {
	background: white;
	padding: 40px 0;
	-webkit-box-shadow: 0 0 2px rgba(0,0,0,.9);
	-moz-box-shadow: 0 0 2px rgba(0,0,0,.9);
	box-shadow: 0 0 2px rgba(0,0,0,.9);
	clear: right;
}
#comments > section {
	width: 620px;
	margin: auto;
	padding-left: 325px;
}
#comments > section > h2 {
	font-size: 24px;
	margin-bottom: 20px;
}
#comments > section > h2 img {margin: -5px 0 0 5px;}
#comments .action {
	position: absolute;
	top: 110px;
	right: 0;
	background: white;
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
	padding: 0 10px 5px 5px;
	z-index: 10;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.3);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,.3);
	box-shadow: 0 1px 1px rgba(0,0,0,.3);
	font-size: 11px;
	border: 1px solid #DDD;
	border-right: none;
	text-align: right;
}
#comments .action ul {
	margin: -15px 0 0;
	padding: 30px 0 0 10px;
	background: url(../img/i_speechbubble.png) no-repeat;
}
#comments .action li span {font-size: 24px;}

.widget {
	border: 1px solid #CCC;
	background: white;
	border-radius: 5px;
	margin-bottom: 30px;
}
.widget h1 {
	color: #535761;
	font-size: 18px;
	border: 1px solid white;
	background: #ECECEC;
	padding: 13px 10px;
	border-radius: 4px 4px 0 0;
}
.widget h2 {
	text-transform: none !important;
	font-size: 1em !important;
	font-weight: normal !important;
	margin: 0 !important;
	line-height: 114%;
}
.widget section {
	margin-bottom: 15px;
	border-top: 1px solid #D1D1D1;
	padding-top: 15px;
}
.widget section:first-child {
	border-top: none;
	padding-top: 0;
}
.widget > div {
	padding: 20px 17px;
	border-top: 1px solid #CCC;
}
.widget > div + div {
	margin-top: -15px;
	padding-top: 5px;
	padding-bottom: 10px;
}
.widget > div + div + div {margin-top: 0;}
.widget li {
	margin: 12px 0;
	line-height: 100%;
}
.widget div li:first-child {margin-top: 0;}
.widget div li:last-child {margin-bottom: 0;}
.widget div li.last {margin-bottom: 0;}
.widget .date, .widget .location {
	font-size: 11px;
	line-height: 127%;
}
.widget .more {
	font-weight: bold;
	font-size: 12px;
}
.widget section b {
	font-weight: normal;
	font-style: italic;
	font-size: 12px;
	line-height: 133%;
	display: block;
	margin-bottom: 10px;
}
.widget div div {line-height: 114%;}