article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {
	margin: 0;
	padding: 0;
	background: #666;
	color: #666;
	font: 14px/129% Arial, Helvetica, Sans-serif;
	min-width: 1050px;
}
a {
	color: #01639D;
	text-decoration: none;
}

sup { font-size: .6em; }

a:hover {text-decoration: underline;}
a[rel=detail] {
	display: inline-block;
	background: white;
	padding-bottom: 8px;
	text-align: right;
}
a[rel=detail] img {
	max-width: 604px;
	border: 8px solid white;
}
caption {
	font-weight: bold;
	text-align: left;
	color: #899B3B;
	font-size: 16px;
	padding-bottom: 10px;
}
code {
	font: 12px "Courier New", Courier, monospace;
	color: #333;
}
dd {margin: 0 0 1em 0;}
dl {margin: 1em 0;}
dt {font-weight: bold;}
fieldset, img {
	border: none;
	margin: 0;
	padding: 0;
}
h1, h2, h3 {
	font-weight: normal;
	margin: 0;
}
h2 {
	color: #899B3B;
	font-size: 27px;
}
h3 {font-size: 20px;}
img, input, select, textarea {
	vertical-align: middle;
	margin: 0;
}
legend {
	padding: 0;
	display: none;
}
p {margin: 1em 0;}
table {
	border-collapse: collapse;
	background: white;
	font-size: 12px;
	line-height: 120%;
	margin: 20px 0 1em 0;
}
thead th {
	background: #ECECEC url(/images/bg_table_features_top.png) center top no-repeat;
	white-space: nowrap;
	vertical-align: bottom;
	padding: 24px 5px 15px;
	line-height: 100%;
}
thead th.title {
	font-size: 16px;
	padding-top: 20px;
	padding-left: 15px;
	color: #899B3B;
}
thead th:first-child {background-position: left top;}
thead th:last-child {background-position: right top;}
thead th.last {background-position: right top;}
tbody {border-top: 1px solid #CCC;}
tbody th,  tbody td {padding: 10px 5px;}
tbody tr:first-child th:first-child {
	padding-left: 15px;
	width: 110px;
	background: url(/images/bg_table_features_bottom.png) top left no-repeat;
}
tbody tr:first-child th:first-child,
tbody td:last-child,
tbody:last-child tr:last-child th,
tbody:last-child tr:last-child td
	{background: url(/images/bg_table_features_bottom.png) no-repeat;}
tbody td.last,
tbody.last tr.last th,
tbody.last tr.last td
	{background: url(/images/bg_table_features_bottom.png) no-repeat;}
tbody:last-child tr:last-child th,
tbody:last-child tr:last-child td
	{background-position: bottom center;}
tbody.last tr.last th,
tbody.last tr.last td
	{background-position: bottom center;}
tbody tr:first-child th:first-child {background-position: top left;}
tbody td:last-child {background-position: top right;}
tbody td.last {background-position: top right;}
tbody:last-child tr:last-child th:first-child {background-position: bottom left;}
tbody:last-child tr:last-child td:last-child {background-position: bottom right;}
tbody.last tr.last th:first-child {background-position: bottom left;}
tbody.last tr.last td.last {background-position: bottom right;}
tbody th + th {width: 150px;}
th:last-child,  td:last-child {padding-right: 15px;}
th.last,  td.last {padding-right: 15px;}
tbody.last tr.last td {text-align: center;}
table small {
	font-weight: normal;
	font-size: 10px;
	display: block;
	line-height: 110%;
}
th, td {
	vertical-align: top;
	text-align: left;
}
ul {
	margin: 1em 0;
	padding: 0;
	list-style: none;
}
ol {
	margin-left: 0;
	padding-left: 20px;
}
.skip, hr {
	position: absolute;
	left: -999em;
}
.caption {
	text-align: right;
	cursor: pointer;
	font-size: 12px;
	color: #01639D;
	padding: 0 8px 0 40px;
	background: white url(/images/i_mag_glass2_sm.png) left center no-repeat;
	display: inline-block;
	height: 23px;
	line-height: 23px;
}
#overlay {
	display: none;
	background: white;
	padding: 20px;
}
#content hr {position: static;}
#header header:after, #content:after, #content #main_container:after, #comments:after {
	content: " ";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
#content:after, #content > section:after, #content #main_container:after {clear: right;}
.nocomment #content #main_container:after, #content.subnav:after {clear: both;}
#container {
	position: relative;
	width: 1100px;
	margin: auto;
	overflow: hidden;
}

#header {
	background: black url(/images/bg_shadow_header.gif) bottom left repeat-x;
	color: white;
	font-size: 11px;
	position: relative;
	z-index: 2;
}
#header header, #breadcrumb > div {
	width: 945px;
	margin: auto;
}
#header header {
	padding: 15px 0 12px;
	position: relative;
}
#header a {color: #CCC;}
#header h1 {float: left;}
#header h1 a {
	background: url(/images/logo.png) no-repeat;
	display: block;
	text-indent: -999em;
	width: 178px;
	height: 44px;
	margin-left: -22px;
}
#header form {	
	float: right;
	margin-top: -8px;
}
/*.jsenabled */#header form {
	border: 1px solid #999;
	background: white;
}
#header form input[type=text] {
	border: none;
	width: 216px;
	padding: 0 0 0 6px;
	height: 18px;
}
#header form input[type=text]::-webkit-input-placeholder {
	color: #CCC;
	font: italic 10px Arial, Helvetica, Sans-serif;
	line-height: 17px;
}
#header form input[type=text]:-moz-placeholder {
	color: #CCC;
	font: italic 10px Arial, Helvetica, Sans-serif;
	line-height: 17px;
}
#header form input[type=text]:focus {
	padding-left: 2px;
	width: 220px;
	outline: none;
}
#header form input[type=submit] {
	margin-bottom: -2px;
	background: url(/images/i_mag_glass1.png) no-repeat;
	border: none;
	width: 19px;
	height: 19px;
	font-size: 0;
	cursor: pointer;
	color: white;
	text-align: right;
}
#header form label {display: none;}
#header form .default, .utility form .default {
	font: italic 10px Arial, Helvetica, Sans-serif;
	color: #CCC;
	line-height: 17px;
}
nav {
	font: bold 10px Verdana, Arial, Helvetica, sans-serif;
	text-transform: uppercase;
}
nav a {color: #CCC;}
#header nav {
	position: absolute;
	right: 0;
	bottom: -1px;
}
nav ul {margin: 0;}
#header nav li {
	float: left;
	margin-left: 43px;
	padding-bottom: 8px;
}
#header nav li a {
	display: block;
	margin-bottom: 3px;
}
#header nav .current {padding-bottom: 0;}
#header nav .current:after {
	content: "";
	border-width: 0 7px 7px;
	border-color: white transparent;
	border-style: solid;
	display: block;
	width: 0;
	margin: auto;
}
#header nav .current a {
	color: white;
	text-decoration: none;
}
#content {
	background: #F5F5F5;
	box-shadow: 0 0 2px rgba(0,0,0,.9);
	-webkit-box-shadow: 0 0 2px rgba(0,0,0,.9);
	-moz-box-shadow: 0 0 2px rgba(0,0,0,.9);
	box-shadow: 0 0 2px rgba(0,0,0,.9);
	position: relative;
	z-index: 1;
	padding-bottom: 20px;
}
#content #main_container {
	width: 945px;
	margin: auto;
	background: url(/images/separator_vert.gif) 271px 0 repeat-y;
}
#breadcrumb {
	background: white;
	padding: 10px 0 20px;
	font-size: 10px;
	line-height: 100%;
	position: relative;
}
#breadcrumb a {color: #666;}
#breadcrumb + section > h2 {
	background: white;
	padding: 0 120px 10px 402px;
	line-height: 100%;
	-webkit-box-shadow: 0 0 2px rgba(0,0,0,.9);
	-moz-box-shadow: 0 0 2px rgba(0,0,0,.9);
	box-shadow: 0 0 2px rgba(0,0,0,.9);
	margin-bottom: 30px;
}
#breadcrumb + section > h2 img {margin-left: 5px;}
#breadcrumb .version {
	font-size: 12px;
	position: absolute;
	margin-left: 77px;
	position: absolute;
	width: auto;
	bottom: -25px;
}
#breadcrumb .version span {font-weight: bold;}
#breadcrumb .version a {color: #01639D;}
#breadcrumb .version b {color: #333;}
#main {
	float: right;
	width: 620px;
	min-height: 500px;
}
#main > :first-child {margin-top: 0;}
#main > h3 {margin-top: 34px;}
#main ul {
	padding-left: 20px;
	list-style: disc;
}
#main ul ul {
	list-style-type: circle;
	margin: .5em 0;
}
#sub {/*
	float: left;*/
	width: 250px;
	padding-right: 20px;
}
#sub h2 {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 25px;
}
#sub ul {
	margin: 0 0 35px;
	border-bottom: 1px solid white;
	line-height: 110%;
}
#sub li span {
 	display: block;
	font-weight: bold;
}
#sub li:first-child > span {border-top: none;}
.jsenabled #sub li > span {
	cursor: pointer;
	padding-left: 18px;
	background: url(/images/s_plusminus_dark.png) left -82px no-repeat;
}
.jsenabled #sub li.active > span {background-position: 0 7px;}
#sub ul ul {
	border-bottom: none;
	margin: 0;
}
#sub li li, #sub li span, #sub .categories li {
	border-style: solid;
	border-width: 1px 0;
	border-color: #FFF transparent #E4E4E4;
	padding-top: 5px;
	padding-bottom: 5px;
}
#sub .categories li:first-child {border-top: none;}
/* IE ignores rules if it doesn’t know a selector, that’s why we need to redeclare it separately here */
.jsenabled #sub li li li:last-child {
	border-style: solid;
	border-width: 1px 0;
	border-color: #FFF transparent #E4E4E4;
	padding-top: 5px;
	padding-bottom: 5px;
}
#sub li li > a {
	margin-left: 19px;
	display: block;
}
#sub li li span {
	border: none;
	margin-left: 19px;
	padding-top: 0;
	background-position: left -87px !important;
}
#sub li li li:last-child,
#sub li li.active {
	padding-bottom: 0;
	border-bottom: none;
}
#sub li li.active > span {
	padding-bottom: 5px;
	background-position: left 2px !important;
}
.jsenabled #sub li li > span {padding-bottom: 0;}
.jsenabled #sub .active .active > span {padding-bottom: 5px;}
#sub ul ul ul {border-top: 1px solid #E4E4E4;}
#sub li li li > span {margin-left: 38px;}
.jsenabled #sub li li li > span {background-image: url(/images/s_plusminus_light.png) !important;}
#sub li li li > a {margin-left: 38px;}
#sub li li li li {padding-left: 57px;}
#sub li li li li > span {margin-left: 57px;}
#sub li li li li > a {margin-left: 0;}
#sub .current > a {
	color: black;
	font-weight: bold;
	text-decoration: none;
	cursor: default;
}
.jsenabled.blog #sub ul ul {display: none;}
#sub .categories li {
	overflow: hidden;
	line-height: 23px;
}
#sub .categories a img {
	float: left;
	margin-right: 5px;
}
#container > footer {
	clear: both;
	font-size: 11px;
	text-align: center;
	padding: 0 0 15px;
	background: #2C2C2C;
	color: #999;
}
#container > footer a {color: #999;}
footer nav {
	position: relative;
	z-index: 2;
}
footer nav ul {
	margin-bottom: 40px;
	padding-top: 15px;
}
footer nav li {
	display: inline;
	position: relative;
	margin: 0 20px;
}
#container > footer nav li a {color: #CCC;}
#container > footer nav .current a {color: white;}
footer nav .current:before {
	content: "";
	width: 0;
	border-width: 7px 7px 0;
	border-style: solid;
	border-color: white transparent;
	margin-left: -7px;
	position: absolute;
	display: block;
	left: 50%;
	top: -15px;
}
footer nav .current a {color: white;}
.utility {
	position: fixed;
	top: 110px;
	left: 50%;
	margin-left: -550px;
	background: #F4F4F4;
	-moz-border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
	-webkit-box-shadow: 1px 1px 0 rgba(0,0,0,.1);
	-moz-box-shadow: 1px 1px 0 rgba(0,0,0,.1);
	box-shadow: 1px 1px 0 rgba(0,0,0,.1);
	z-index: 10;
	width: 40px;
	padding: 50px 1px 0 0;
	border: 1px solid #CCC;
	border-left: 0;
}
.utility.sticky {
	left: -1px;
	margin-left: 0;
}
@media screen and (max-width: 1110px) {
	.utility {
		left: -1px;
		margin-left: 0;
	}
}
.jsenabled .utility {
	padding: 1px 1px 1px 0;
	background: white;
}
.utility .u_wrapper {background: #F4F4F4;}
.utility form {
	position: absolute;
	left: -3000px;
	top: -38px;
	background: white;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.3);
	-moz-box-shadow: 1px 1px 1px rgba(0,0,0,.3);
	box-shadow: 1px 1px 1px rgba(0,0,0,.3);
	border: 1px solid #D1D1D1;
	text-align: left;
	padding: 1px;
}
.utility form:hover {left: -5px;}
.jsenabled .utility form:hover {left: -3000px;}
.jsenabled .utility form.active:hover,
.utility form.active {
	left: 55px;
	top: 10px;
}
.utility form fieldset {
	padding: 22px 11px 2px;
	background: #ECECEC;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.utility legend {
	display: block;
	font-weight: bold;
	position: absolute;
	top: 4px;
	color: #666;
}
.utility input[type=text] {
	border: 1px solid #CFCFCF;
	padding: 0 5px;
	width: 228px;
	height: 19px;
	margin-bottom: 5px;
}
.utility input[type=image] {
	position: absolute;
	left: 3004px;
	bottom: -26px;
}
.utility form:hover input[type=image] {
	position: static;
	margin-left: -3px;
}
.jsenabled .utility form input[type=image] {
	position: static;
	margin-left: 0;
}
.utility form.active input[type=image] {display: none;}
.utility .border {border-top: 1px solid white;}
.utility a {
	display: block;
	border-style: solid;
	border-width: 1px 0;
	border-color: #E4E4E4 transparent #FFF;
	padding: 5px 0;
}
.utility .search {
	border-top: none;
	cursor: pointer;
}
.utility a:last-child {border-bottom: none;}
.utility img {margin: 5px 0;}
#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #777;
	background-color: #F1F2F7;
	padding: 2px 5px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#E4E5F0));
	background: -moz-linear-gradient(top, #FFF, #E4E5F0);
	-moz-box-shadow: 3px 3px 3px rgba(0,0,0,.5);
	-webkit-box-shadow: 3px 3px 3px rgba(0,0,0,.5);
	box-shadow: 3px 3px 3px rgba(0,0,0,.5);
  max-width: 400px;
}
#tooltip h3, #tooltip div {
	margin: 0;
	font-size: 12px;
}

.features tbody:last-child tr:last-child td {text-align: center;}
.doclist {
	padding-left: 0 !important;
	list-style: none !important;
}
.doclist li:before {content: none !important;}
.doclist li > a {font-size: 16px;}
.doclist li > img {vertical-align: bottom;}
.doclist li div {margin: 10px 0 25px;}

#comments {
	background: white;
	padding: 40px 0;
	-webkit-box-shadow: 0 0 2px rgba(0,0,0,.9);
	-moz-box-shadow: 0 0 2px rgba(0,0,0,.9);
	box-shadow: 0 0 2px rgba(0,0,0,.9);
	clear: right;
}
#comments > div {
	width: 945px;
	margin: auto;
}
#comments > div > section {
	width: 620px;
	float: right;
}
#comments > div > section > h2, #documentation > h2 {
	font-size: 24px;
	margin-bottom: 20px;
}
#comments > div > section > h2 img {margin: -5px 0 0 5px;}
#documentation > h2 img {margin-top: -10px;}
#comments .action {
	position: absolute;
	top: 110px;
	right: 0;
	background: white;
	-webkit-border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
	padding: 0 10px 5px 5px;
	z-index: 10;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.3);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,.3);
	box-shadow: 0 1px 1px rgba(0,0,0,.3);
	font-size: 11px;
	border: 1px solid #DDD;
	border-right: none;
	text-align: right;
}
.jsenabled #comments .action {margin-top: -30px;}
#comments .action ul {
	margin: -15px 0 0;
	padding: 30px 0 0 20px;
	background: url(/images/i_speechbubble.png) no-repeat;
}
#comments .action li span {font-size: 24px;}
#documentation ul {
	padding: 0;
	list-style: none;
}
#documentation li {
	margin: 15px 0;
	position: relative;
	padding-left: 40px;
}
#documentation li:before {content: none !important;}
#documentation li img {
	position: absolute;
	left: 0;
	top: -5px;
}

.widget {
	border: 1px solid #CCC;
	background: white;
	border-radius: 5px;
	margin-bottom: 30px;
	float: left;
	clear: left;
	width: 248px;
	padding-top: 0 !important;
}
.widget:before {content: none !important;}
#main .widget {
	float: right;
	margin-left: 60px;
	border-top-color: #CCC;
}
.widget h1 {
	color: #535761;
	font-size: 18px;
	line-height: 24px;
	border: 1px solid white;
	background-color: #ECECEC !important;
	padding: 13px 10px;
	border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
}
.widget h1 + * {border-top: 1px solid #D1D1D1;}
.widget h2 {
	text-transform: none !important;
	font-size: 1em !important;
	font-weight: normal !important;
	margin: 0 !important;
	line-height: 114%;
}
.widget section {
	margin-bottom: 15px;
	border-top: 1px solid #D1D1D1;
	padding-top: 15px;
}
.widget section:first-child {
	border-top: none;
	padding-top: 0;
}
.widget section:last-child {margin-bottom: 0;}
.widget > div {
	padding: 20px 17px;
	border-top: 1px solid #CCC;
}
.widget > div + div {
	margin-top: -15px;
	padding-top: 5px;
	padding-bottom: 10px;
}
.widget > div + div + div {margin-top: 0;}
.widget p {margin-top: 0;}
.widget ul {margin-bottom: 0 !important;}
.widget li {
	margin: 12px 0;
	line-height: 100%;
}
.widget div li:first-child {margin-top: 0;}
.widget div li:last-child {margin-bottom: 0;}
.widget div li.last {margin-bottom: 0;}
.widget .date, .widget .location {
	font-size: 11px;
	line-height: 127%;
}
.widget .more {
	font-weight: bold;
	font-size: 12px;
}
.widget section b {
	font-weight: normal;
	font-style: italic;
	font-size: 12px;
	line-height: 133%;
	display: block;
	margin-bottom: 10px;
}
.widget div div {line-height: 114%;}
.widget .code, .widget .download {
	font-size: 12px;
	list-style: none !important;
	padding: 0 !important;
	margin: 0 !important;
}
.widget .code li {
	padding: 10px;
	border-bottom: 1px solid #D1D1D1;
	margin: 0;
}
.widget .code a {font-weight: bold;}
.widget .code a img {
	background: white;
	padding-right: 5px;
}
.widget .download {padding-bottom: 10px !important;}
.widget .download li {
	padding: 10px 10px 10px 50px;
	background: url(/images/i_arrow_down.png) 18px 10px no-repeat;
}
.widget .download li div {
	font-size: 11px;
	font-style: italic;
}
#hadoop h1 {
	padding-top: 5px;
	padding-bottom: 5px;
}
#hadoop h2 {
	color: #535761;
	font-size: 18px !important;
	margin-top: 20px !important;
}
#hadoop ul {
	margin: 15px 0 !important;
	padding-left: 16px;
	list-style: disc;
}
#hadoop li {line-height: 129% !important;}
#hadoop .button {margin: 15px 15px 0;}

#main ul.info {
	list-style: none;
	padding: 0;
}
#main .info > li {
	margin-bottom: 10px;
	padding-left: 0;
}
#main .info > li a {
	font-size: 13px;
	font-weight: bold;
	background: url(/images/i_info.png) left center no-repeat;
	padding: 5px 0 5px 33px;
	line-height: 23px;
}
.post,
.post + .pagination,
section#documentation
{
	border-top: 1px solid #E4E4E4;
	padding: 0 0 20px;
}
.post:before,
.post + .pagination:before,
section#documentation:before
{
	border-top: 1px solid white;
	content: "";
	display: block;
	margin-bottom: 20px;
}
section#documentation:before {margin-bottom: 30px;}
.post:first-child,
.post:first-child:before
{
	border-top: none;
	margin-bottom: 0;
}
#main .download h3 {
	margin: 0 0 10px !important;
	font-size: 16px !important;
	font-weight: bold;
}
#main .download table {
	line-height: 23px;
	font-size: 13px;
	margin: 0;
	background: none;
}
#main .download table tbody {border: none;}
#main .download th, #main .download td {
	padding: 0 5px 5px 0;
	background: none;
}
#main .download th {width: 245px;}
#main .download th.wideDownloadColumn      {width: 390px;}
#main .download th.extraWideDownloadColumn {width: 535px;}
#main .download th + td {width: 145px;}
#main .download table a {
	font-weight: normal;
	padding: 5px 0 5px 30px;
	background: url(/images/i_arrow_down.png) left center no-repeat;
}

.post h3 {
	font-size: 24px;
	line-height: 120%;
	margin-bottom: 8px;
}
.post h3 a {color: #666;}
.post .date_author {
	float: left;
	font-size: 12px;
	margin-bottom: 15px;
}
.post .author {font-style: italic;}
.post .body {
	margin: 20px 0 0;
	clear: both;
}
.post .body .more {
	font-size: 12px;
	font-weight: bold;
}
.post .body .info {
	padding: 20px 40px;
	margin: 1.5em 0;
	background: white;
}
.post .body table {
	width: 100%;
	margin: 0;
	font-size: 14px;
}
.post .body table + * {
	margin-top: 20px;
	display: block;
}
.post .body table tbody {border: none;}
.post .body th, .post .body td {
	padding: 0 0 0 10px;
	background: none !important;
}
.post .body table :first-child {padding-left: 0;}
.post + .pagination, #main_container > .pagination {
	color: #999;
	font-size: 12px;
	text-align: right;
	padding-bottom: 0;
}
#main_container > .pagination {
	float: right;
	margin-top: -60px;
	position: relative;
}
.post + .pagination:before {margin-bottom: 15px;}
.post + .pagination a,
.post + .pagination span,
#main_container > .pagination a,
#main_container > .pagination span
	{margin-left: 4px;}
.post + .pagination a:first-child, #main_container > .pagination a:first-child {margin-right: 4px;}
.post + .pagination span, #main_container > .pagination span {color: #CCC;}
.post .action {
	background: white url(/images/i_speechbubble.png) 4px bottom no-repeat;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 6px 10px 6px 30px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.3);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,.3);
	box-shadow: 0 1px 1px rgba(0,0,0,.3);
	border: 1px solid #DDD;
	float: right;
	margin: -5px 0 15px;
}
.post .action {font-size: 11px;}
#main .post .action ul {
	padding: 0;
	margin: 0;
}
.post .action li {
	display: inline;
	margin-left: 10px;
}
#main .post .action ul li:before {content: none;}

/*
EDB - from previous styling
.doc-desc {
    padding-left: 25px;
}

.doclist tr.alt th, .doclist tr.alt td {background: #F2F2F2;}
*/

/* home page styles */
.removable .close {
	width: 19px;
	height: 19px;
	position: absolute;
	right: 60px;
	top: 22px;
	background: url(/images/s_open_close.png) no-repeat;
	cursor: pointer;
}
.removable:last-child {margin-bottom: -20px;}
.removable.closed {overflow: hidden;}
.removable.closed .close {background-position: 0 -20px;}
#intro, #learn, #bottom1, #bottom2 {
	-webkit-box-shadow: 0 0 2px rgba(0,0,0,.9);
	-moz-box-shadow: 0 0 2px rgba(0,0,0,.9);
	box-shadow: 0 0 2px rgba(0,0,0,.9);
	position: relative;
	padding: 30px 76px;
}
#intro {
	padding-top: 40px;
	background: white;
	position: relative;
	z-index: 3;
}
#intro:after {
	content: "";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}
#intro p {
	float: left;
	width: 700px;
	font-size: 21px;
	line-height: 143%;
	margin: 0;
}
#intro p a {font-size: 12px;}
#intro + section {clear: both;}
#intro ul {
	font-size: 14px;
	float: right;
	margin: 0;
	text-align: center;
	line-height: 21px;
}
#intro ul li a, div.intro p + a, .button {
	display: block;
	color: white;
	background: #18869A;
	padding: 5px 8px;
	margin-bottom: 8px;
	border: 1px solid #003959;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	font-weight: bold;
	text-shadow: 0 1px 1px rgba(0,0,0,.6);
	text-align: center;
	background: #2a7bab; /* Old browsers */
	background: -moz-linear-gradient(top, #2a7bab 0%, #014b7a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2a7bab), color-stop(100%,#014b7a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #2a7bab 0%,#014b7a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #2a7bab 0%,#014b7a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #2a7bab 0%,#014b7a 100%); /* IE10+ */
	-pie-background: linear-gradient(top, #2a7bab 0%,#014b7a 100%); /* IE (through CSS3 PIE) */
	background: linear-gradient(top, #2a7bab 0%,#014b7a 100%); /* W3C */
	overflow: hidden;/*
	line-height: 12px !important;*/
}
.button {display: table;}
.button img, .button span {
	display: table-cell;
	vertical-align: middle;
}
.button span {
	padding-left: 10px;
	min-width: 90px;
}
#intro ul a img {
	float: left;
	margin-right: 5px;
}
#learn {
	background: #EEF0DD;
	z-index: 2;
}
#learn h2 {
	line-height: 100%;
	margin-bottom: 20px;
}
#learn img {
	margin-left: 20px;
	margin-bottom: 25px;
}
#learn :first-child img {margin-left: 0;}
#bottom1 {
	background: #F5F5F5;
	z-index: 1;
	padding-bottom: 5px;
}
#bottom1:after {
	content: "";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
#bottom1 section {
	width: 300px;
	float: left;
	border: 1px solid red;
	padding: 0 10px 40px;
	border-color: transparent white transparent #E3E3E3;
	border-style: solid;
	border-width: 0 1px;
	min-height: 380px;
	position: relative;
}
#bottom1 section:first-child {
	padding-left: 0;
	border-left: none;
}
#bottom1 section:first-child + section + section {
	padding-right: 0;
	border-right: none;
}
#bottom1 h3 {
	font-size: 24px;
	color: #2C2C2C;
	border-bottom: 1px solid white;
}
#bottom1 h3:after {
	content: "";
	display: block;
	border-top: 1px solid #E3E3E3;
	margin-top: 10px;
}
#bottom1 article {
	font-size: 12px;
	line-height: 133%;
	padding: 15px 0 15px 60px;
	border-top: 1px solid #E3E3E3;
	position: relative;
}
#bottom1 article:before {
	content: "";
	display: block;
	border-top: 1px solid white;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	margin-bottom: 15px;
}
#bottom1 section:first-child + section + section article {min-height: 65px;}
#bottom1 h3 + article {
	padding-top: 20px;
	border-top: none;
}
#bottom1 h3 + article:before {content: none;}
#bottom1 h4 {margin: 0;}
#bottom1 h4 img {
	position: absolute;
	left: 0;
	top: 17px;
}
#bottom1 h3 + article h4 img {top: 22px;}
#bottom1 article .author_date {
	font-size: 11px;
	font-style: italic;
}
#bottom1 article .date {font-style: italic;}
#bottom1 .twitter h4 {
	text-indent: -999em;
	height: 0;
}
#bottom1 .tweet-user {font-weight: bold;}
#bottom1 .votes {
	position: absolute;
	left: 0;
	top: 17px;
	border: 1px solid white;
	background-color: #EEE;
	width: 36px;
	font-size: 10px;
	text-align: center;
	line-height: 100%;
	font-family: 'Arial Narrow', Arial, Helvetica, Sans-serif;
	padding: 3px;
	border-radius: 2px;
}
#bottom1 h3 + article .votes {top: 22px;}
#bottom1 .votes:before, #bottom1 .votes:after {
	content: "";
	display: block;
  position: absolute;
  width: 0;
  border-style: solid;
	right: -5px;
	width: 0;
}
#bottom1 .votes:before {
	border-color: transparent white;
	border-width: 5px 0 5px 5px;
	top: 8px;
}
#bottom1 .votes:after {
	border-color: transparent #EEE;
	border-width: 4px 0 4px 4px;
	border-style: solid;
	right: -4px;
	top: 9px;
}
#bottom1 .votes:first-line {
	font: bold 18px Arial, Helvetica, Sans-serif;
	line-height: 100%;
	word-spacing: 1px;
}
#bottom1 .votes div {
	background-color: #75845C;
	color: #DFE619;
	padding: 3px 0;
	margin-top: 1px;
	line-height: 80%;
}
#bottom1 .votes div:first-line {font: bold 11px/100% Arial, Helvetica, Sans-serif;}
#bottom1 .more:before, #bottom2 .more:before {
	content: "";
	display: block;
	border-top: 1px solid white;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}
#bottom1 .more, #bottom2 .more {
	border-top: 1px solid #E3E3E3;
	margin: 0;
	font-size: 12px;
	font-weight: bold;
	padding: 10px 0;
	position: absolute;
	width: 300px;
	left: 10px;
	bottom: 0;
}
#bottom1 section:first-child .more {left: 0;}
#bottom1 .more li {
	display: inline;
	margin-right: 20px;
}
#bottom1 .more li:first-child {margin-left: 60px;}
#bottom2 {
	background: #E3E3E3;
	margin-bottom: -20px;
	padding-bottom: 5px;
}
#bottom2:after {
	content: "";
	display: block;
	clear: both !important;
	height: 0;
	visibility: hidden;
}
#bottom2 > h2 {margin-bottom: 30px;}
#bottom2 > h2 a {
	font-size: 12px;
	margin-left: 30px;
}
#bottom2 > section {
	border-width: 0 1px;
	border-style: solid;
	border-color: transparent #F5F5F5 transparent #CBCBCB;
	width: 225px;
	padding: 0 5px 40px 8px;
	float: left;
	min-height: 330px;
	position: relative;
}
#bottom2 > h2 + section {
	padding-left: 0;
	border-left: none;
}
#bottom2 > h2 + section + section + section + section {
	padding-right: 0;
	border-right: none;
}
#bottom2 > section h3 {
	color: #2C2C2C;
	font-size: 16px;
	border-bottom: 1px solid #F5F5F5;
	margin-top: -5px;
}
#bottom2 > section h3:after {
	content: "";
	display: block;
	border-bottom: 1px solid #CBCBCB;
	margin-top: 10px;
}
#bottom2 > section h3 img {vertical-align: bottom;}
#bottom2 article {
	font-size: 12px;
	line-height: 133%;
	margin: 15px 0;
}
#bottom2 article h4 {margin: 0;}
#bottom2 .more {
	font-size: 12px;
	font-weight: bold;
	width: 225px;
	left: 8px;
	border-color: #CBCBCB;
}
#bottom2 > h2 + section .more {left: 0;}
/* end home page styles */

#results #main h3 {font-size: 18px;}
#results #main h3 em {
	font-weight: bold;
	font-style: normal;
}
#results table {
	font-size: 13px;
	line-height: 138%;
	margin: 2em 0;
	background: none;
}
#results tbody {border: none;}
#results th {
	width: 40px;
	padding: 0 5px 0 0;
	background: none;
}
#results td {
	padding: 0 0 20px;
	background: none;
	text-align: left;
}
#results h4 {
	font-size: 100%;
	margin: 0;
}
#results .text .highlight {color: #01639D;}
#results .pagination {
	font-size: 13px;
	color: #999;
	text-align: right;
}
#results .pagination input[type=text] {
	border: 1px solid #CCC;
	text-align: right;
	color: #999;
	font: 13px Arial, Helvetica, Sans-serif;
	padding: 1px 5px;
	width: 30px;
}
#results h3 + .pagination {
	position: absolute;
	top: 50px;
	right: 80px;
}
#results table + .pagination {
	border-top: 1px solid #E3E3E3;
	margin-bottom: -10px;
}
#results table + .pagination:before {
	content: "";
	border-top: 1px solid white;
	display: block;
	margin-bottom: 8px;
}

/* /try content and nav styles */
.pagination_nav {
  overflow: hidden;
  margin-bottom: 3em;
  /* border-top: 1px solid #BCBCBC; */
  /* border-bottom: 1px solid #BCBCBC; */
}

.pagination_nav span {
  display: block;
  padding: .5em 0 0 0;
  color: #999;
}

.pagination_prev,
.pagination_next {
  width: 40%;
  float: left;
  margin-bottom: 0;
}

.pagination_next {
  text-align: right;
  float: right;
}

.pagination_prev a,
.pagination_next a {
  display: block;

}

div.intro {
	overflow: hidden;
	margin-bottom: 30px;
}
div.intro p {
	width: 480px;
	float: left;
	margin: 0;
}
div.intro.var2 p {width: 385px;}
div.intro p + a, div.intro p + img {float: right;}
#main > section, #main > article {
	clear: both;
	border-top: 1px solid #E3E3E3;
	margin: 20px 0;
	padding: 20px 0 0;
	position: relative;
}
.intro + section {padding-top: 40px !important;}
#main > section:before, #main > article:before {
	content: "";
	display: block;
	border-top: 1px solid white;
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
}
#main > article:first-child {
	padding-top: 0;
	border-top: 0;
}
#main > article:first-child:before {content: none;}
#main > section h3:first-child {
	font-size: 24px;
	color: #2C2C2C;
	margin-bottom: 34px;
}
#main > section header h3 {float: left;}
.intro + section header .button {
	float: right;
	margin: -10px 0 20px;
}
.intro + section header + * {clear: both;}
.discussion {
	font-size: 13px;
	overflow: auto;
	min-height: 150px;
	padding-left: 95px !important;
	padding-bottom: 5px !important;
}
.discussion h1 {
	font-weight: bold;
	font-size: 14px;
}
.discussion .post_info {
	position: absolute;
	left: 0;
	top: 20px;
	text-align: center;
	font-size: 12px;
	color: #999;
}
.discussion .post_info + p {margin-top: 0;}
.post_info .votes {
	width: 57px;
	padding: 7px;
	background: #EEE;
	position: relative;
	font-size: 13px;
	color: #808185;
	line-height: 100%;
	margin-bottom: 10px;
}
.post_info .votes:first-line {
	font-size: 29px;
	font-weight: bold;
	line-height: 100%;
}
.post_info .votes:after {
	content: "";
	position: absolute;
	border-style: solid;
	border-color: transparent #EEE;
	border-width: 6px 0 6px 6px;
	right: -6px;
	top: 10px;
}
.post_info .votes div {
	background: #75845C;
	color: white;
	margin-top: 5px;
	padding: 3px 0;
}
.post_info .votes div:first-line {
	font-weight: bold;
	font-size: 18px;
	line-height: 100%;
}
.discussion .post_meta {
	text-align: right;
	display: block;
	font-size: 10px;
	margin-top: 20px;
}
.discussion .tags {float: left;}
.discussion .tags span {display: none;}
.discussion .tags a {
	background-color: #E0EAF1;
	border-bottom: 1px solid #3E6D8E;
	border-right: 1px solid #7F9FB6;
	color: #3E6D8E;
	font-size: 90%;
	margin: 2px 2px 2px 0;
	padding: 2px 4px;
	text-decoration: none;
	white-space: nowrap;
}
.discussion .tags a:hover {
  background-color: #3E6D8E;
  border-color: #37607D;
  color: #E0EAF1;
  text-decoration: none;
}
.discussion pre, .blog pre {overflow: auto;}
.post_meta .ranking {color: #333;}
.lists {
	font-size: 11px;
	line-height: 120%;
	background: white;
	border: 1px solid #CCC !important;
	border-radius: 4px;
	overflow: hidden;
	margin: 20px 0;
	padding: 0 !important;
}
.lists header {
	background: #ECECEC;
	border: 1px solid white;
	border-radius: 3px 3px 0 0;
	padding: 10px;
	text-align: right;
	position: relative;
	margin-bottom: 1px;
}
.lists header:after {
	position: absolute;
	bottom: -2px;
	left: -1px;
	content: "";
	width: 100.4%;
	border-bottom: 1px solid #CCC;
}
.lists header h1 {
	font-size: 16px;
	font-weight: bold;
	line-height: 25px;
	float: left;
}
.lists header h1 img {
	vertical-align: bottom;
	margin-right: 13px;
}
.lists header h1 + * {line-height: 30px;}
.lists header h1 + a {
	position: relative;
	top: 4px;
}
.lists header .messages {
	font-weight: bold;
	font-size: 30px;
}
.lists > ul {
	padding: 0 5px 0 0 !important;
	list-style: none !important;
	margin: 15px 10px 15px 15px;
	float: left;
	width: 45%;
}

ul.multi-page-toc {
    list-style: square inside;
}

#sub .multi-page-toc li {
    padding-top: 0px; 
    padding-bottom: 0px; 
}

/* Workaround for our css stomping on CodeMirror */
.CodeMirror-scroll pre {
    overflow: hidden;
}

/* Twitstream */
.tweet-source {display:none;}

div.body.tweet1 {
	float: left;
	width: 100%;
	padding: 0 0 15px 0;
}

div.body.tweet2ormore {
	border-top: 1px solid #E1E1E1;
	float: left;
	width: 100%;
	padding: 15px 0;
}

.lists header + ul {border-right: 1px solid #ECECEC;}
.lists li {margin: 0 0 15px;}
.lists li:last-child {margin-bottom: 0;}
.lists li.last {margin-bottom: 0;}
.lists a {font-weight: bold;}
.lists .date {font-style: italic;}
.lists section {
	margin: 15px;
	line-height: 129%;
	border-top: 1px solid #E4E4E4;
	padding-top: 10px;
}
.lists header + section {
	border-top: none;
	padding-top: 0;
}
.lists section h2 {
	font-size: 16px;
	color: #666;
	line-height: 120%;
}
.meetup {margin-bottom: 50px !important;}
.meetup header {
	padding-left: 15px;
	padding-right: 15px;
}
.meetup header h1 {
	font-weight: normal;
	font-size: 20px;
	line-height: normal;
}
.meetup header h1 img {
	vertical-align: middle;
	margin-top: -5px;
}
.meetup section ul {
	padding: 1px 0 !important;
	list-style: none !important;
	margin: 13px 0 !important;
}
.meetup section li {margin-bottom: 25px;}
.meetup section li:after {
	content: "";
	clear: both;
	display: block;
	visibility: hidden;
	height: 0;
}
.meetup section .info {
	width: 290px;
	float: left;
}
.meetup section .title {
	font-size: 14px;
	font-weight: normal;	
}
.meetup section .attendees {
	float: right;
	width: 260px;
	text-align: right;
	line-height: 100%;
}
.meetup section .attendees img {
	padding: 1px;
	background: white;
	border: 1px solid #DDD;
}
.meetup .attendees .amount {
	font-size: 24px;
	font-weight: bold;
	vertical-align: middle;
	display: inline-block;
	width: 55px;
}

.features section {
	display: inline-block;
	width: 299px;
	font-size: 12px;
	line-height: 133%;
	border-right: 1px solid #E4E4E4;
	padding: 0 10px 0 6px;
	vertical-align: top;
	margin-bottom: 30px;
	min-height: 260px;
	position: relative;
}
.features section:after {
	content: "";
	position: absolute;
	height: 100%;
	border-right: 1px solid white;
	right: 0;
	top: 0;
}
.features section:nth-child(even) {padding-left: 0;}
.features section:nth-child(odd) {
	border-right: none;
	padding-right: 0;
}
.features section:nth-child(odd):after {content: none;}
.features section.even {padding-left: 0;}
.features section.odd {
	border-right: none;
	padding-right: 0;
}
.features section.odd:after {content: none;}
.features section h4 {
	font-size: 16px;
	font-weight: normal;
	color: #2C2C2C;
	border-bottom: 1px solid white;
	position: relative;
	padding-bottom: 10px;
	margin-top: 0;
}
.features section h4:after {
	content: "";
	border-bottom: 1px solid #E4E4E4;
	width: 100%;
	bottom: 0;
	left: 0;
	position: absolute;
}

article.twitter {
	font-size: 12px;
	line-height: 133%;
}

#featured:before {content: none !important;}
#featured {
	border-top: none !important;
	border-bottom: 1px solid white;
}
#featured:after {
	content: "";
	display: block;
	border-bottom: 1px solid #E4E4E4;
	margin-top: 8px;
}
#featured h3 {
	font-size: 20px !important;
	border-bottom: 1px solid white;
	margin-bottom: 8px !important;
}
#featured h3:after {
	content: "";
	display: block;
	border-bottom: 1px solid #E4E4E4;
	margin-top: 10px;
}
#featured > div {
	display: table-cell;
	width: 50%;
}
#featured > h3 + div {border-right: 1px solid white;}
#featured > h3 + div + div {border-left: 1px solid #E4E4E4;}
#featured section {
	border-top: 1px solid #E4E4E4;
	padding-left: 60px;
	position: relative;
	font-size: 12px;
	padding-top: 25px;
	line-height: 133%;
}
#featured section:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	border-top: 1px solid white;
}
#featured section:first-child {
	padding-top: 0;
	border: none;
}
#featured section:first-child:before {content: none;}
#featured > h3 + div section {margin-right: 5px;}
#featured > h3 + div + div section {margin-left: 5px;}
#featured section h4 {
	margin: 0;
	font-size: 12px;
}
#featured section h4 img {
	position: absolute;
	left: 0;
	top: 25px;
}
#featured section:first-child h4 img {top: 0;}
#featured section > ul {padding-left: 15px;}
#featured section > div {margin-bottom: 1em;}
#featured .links {
	padding: 0;
	list-style: none;
	margin: 1em 0;
}
#featured ul ul.links {margin-left: -15px;}
#featured .links li {
	display: inline;
	margin-right: 10px;
}

.recent-rss article .author_date {
	font-size: 11px;
	font-style: italic;
}

.recent-rss article {
	font-size: 12px;
}

.recent-rss h4 {
	margin: .2em 0 .4em 0;
}
