/* apidoc.css */

body {
    margin: 0;
    padding: 0;
    background-color: #FFF;
}

/* header + two columns */

#api_sub {
    position: absolute;
    top: 188px;
    bottom: 0;
    left: 0;
    right: 70%;
    overflow-y: hidden;
}

#page_content {
    position: absolute;
    top: 188px;
    bottom: 0;
    left: 30%;
    right: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    /* android may need this so touch-scrolling works. */
    z-index: 0;
}

blockquote {
    margin-left: 0;
}
dd {
    margin-left: 40px;
}

pre,
.userguide img {
    max-width: 100%;
    overflow: auto;
}
/* Exclude function signatures */
.userguide pre,
.example pre  {
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    background-color: #fff;
    padding: 15px;
}

/* Don't do border/padding on code inside a table */
.userguide table pre {
    border-style: none;
    padding: 1px;
}

/* Do not add extra margins around code inside a table */
.api_generic_table td pre {
    margin: 0;
}

ol ol {
    list-style-type: lower-alpha;
}

#header {
  border: none;
  z-index: 100;
}

#header nav .current:after {
    border-color: #1479B2 transparent;
}

#header-below-bottom-bar {
    background: #fff;
}

#dmc-navbar-collapse li {
    z-index: 9;
}

#content {
    width: 100%;
    background: #fff;
}

#container > footer {
    padding-bottom: 0;
}

#copyright {
    clear: both;
    font-size: 11px;
    text-align: center;
    padding: 20px 20px 0 20px;
}

#terms {
    clear: both;
    font-size: 11px;
    text-align: center;
    padding: 0 20px 20px 20px;
}

#breadcrumb,
#container #breadcrumb + section > h2 {
    background: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
#breadcrumb {
    overflow-y: auto;
    padding: 8px 0 8px 16px;
}

#breadcrumb div {
    margin: 0;
}

#breadcrumbDynamic {
    color: #000;
}

.version {
    position: inherit;
    color: #000;
    font-weight: bold;
    padding: 8px 0 8px 16px;
}

.version select {
    font-weight: normal;
}

#page_content > div {
    margin: 0 16px 0 16px;
}

#page_content h1 {
    padding: 0 !important;
    margin: 40px 0 40px;
    line-height: 110%;
    color: #000;
    font-size: 27px;
    font-family: inherit !important;
}

#page_content .userguide h2 {
    padding-top: 1em;
}

#page_content h2,
#page_content h3,
#page_content h4,
#page_content h5,
#page_content h6 {
    padding-top:  1em;
    margin-bottom: .5em;
    margin-top: 0;
    line-height: 110%;
    font-family: inherit !important;
}

.userguide h2 {
    font-size: 1.8em;
}
.userguide h3 {
    font-size: 1.5em;
}
.userguide h4 {
    font-size: 1.3em;
}
.userguide h5 {
    font-size: 1.2em;
}
.userguide h6 {
    font-size: 1.1em;
}

.userguide h4 {
    font-weight: normal;
}


/* same as h2 in screen.css */
.userguide h1 {
    color: #000;
    font-size: 27px;
}

.underline {
    text-decoration: underline 
}

#page_content ul {
    padding-left: 20px;
    list-style: disc;
}

#page_content .shadow {
    position: fixed;
    left: 50%;
    top: 70px;
    bottom: 16px;
    margin-left: -224px;
    width: 5px;
    background: url(/images/bg_shadow_vert.png) top left repeat-y;
    display: none;
}

#page_content.scroll {
    border-left: 1px solid #ccc;
}

#page_content table pre {
}

#page_content dd pre {
    background-color: #fff;
    padding-top: 5px;
    border-radius: 4px;
}

#page_content dd pre:first-child {
    background-color: transparent;
    padding: 0;
}

#api_sub {
    color: #333333;
    font-size: 0.9em;
}

#apidoc_toc, #all_tocs, .toc {
    height: 100%;
    margin: 0;
    padding: 0;
}

#toc_content {
    width: 100%;
    background: #fff;
    height: 100%;
    padding: 16px 0 16px 0;
}

/* This needs some non-standard properties,
 * or else the user will accidentally select adjoining text.
 */
#splitter {
    position: absolute;
    top: 4px;
    bottom: 4px;
    right: 0;
    cursor: col-resize;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    background: #ddd;
    width: 12px;
    overflow: visible;
    z-index: 9;
}

.tab_link {
    font-size: 11px !important;
    min-height: 27px;
    line-height: 11px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

/* overrides JQuery UI CSS */
.ui-tabs .ui-tabs-nav li a {
    padding: .5em .7em !important;
}

.toc_select {
    position: inherit;
    margin-right: 5px;
    margin-left: 0;
}

.toc_select label {
  float: left;
  margin-left: 16px;
}

.toc_select select#toc_select {
  float: left;
  margin-left: 5px;
}

.toc_select button {
  float: right;
}

.scrollable_section {
    height: 100%;
    margin-right: 5px;
    margin-left: 0;
    position: inherit;
}

#apidoc_tree_container {
    height: calc(100% - 44px);
}

.scrollable_section .filter input {
    border: 1px solid #ccc;
    font-size: 11px;
    margin: 8px 0 0 16px;
    width: 50%;
    /* For browsers that support calc. */
    width: calc(100% - 124px);
}
.config-filter-close-button {
    display: none;
    cursor: pointer;
    margin: 8px 0 0 -18px;
}

.function_name {
    font-weight: bold;
}

.api-function-links {
    float: right;
    margin: 1em;
    padding: 1em;
}

.currentPage,
.footnote_marker,
a.footnote_marker:hover,
.currentVersion,
h1 a,
.toc_highlight {
    color: #F86D07;
}

.treecontrol.top_control {
    float: right;
    margin: 8px 0 0 0;
    cursor: pointer;
    font-size: .9em;
}
.treecontrol.top_control.global_control {
}
.treecontrol.top_control > span {
    display: inline-block;
    color: #fff;
    padding: 3px 3px 3px 3px;
    margin: 0 0 4px 2px;
    border: 1px solid #003959;
    font-weight: bold;
    text-decoration: none !important;
    text-align: center;
    background: #2a7bab; /* Old browsers */
    -pie-background: linear-gradient(top, #2a7bab 0%,#014b7a 100%); /* IE (through CSS3 PIE) */
    background: linear-gradient(top, #2a7bab 0%,#014b7a 100%); /* W3C */
    overflow: hidden;
    line-height: 12px !important;
    text-transform: capitalize;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.treecontrol.top_control > span img {
    vertical-align: baseline;
    background: #fff;
}
.treecontrol.top_control > span span {
    vertical-align: baseline;
    padding-left: 2px;
}

/* override treeview CSS */
.treeview {
    width: 100%;
    /* For browsers that support calc. */
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    /* android may need this so touch-scrolling works. */
    z-index: 0;
    border-top: 1px solid #ccc;
    height: 100%;
}
.treeview a.toc_root {
    font-weight: bold;
}
.treeview a.toc_top {
    font-weight: bold;
}
.treeview ul {
    line-height: 110%;
}
.treeview li {
    padding-left: 18px;
}

/* allow no wrapping in the TOC... */
.treeview li {
    white-space:nowrap;
}
/* ...except where specifically elected */
.treeview .wrapTitles li,
.treeview li.wrapTitles {
    white-space: normal;
}

.treeview a.selected {
    background-color: transparent;
}
.treeview .hitarea {
    margin-left: -18px;
}

.footnote_marker,
.collapse,
.expand,
.shallowCollapse,
.shallowExpand {
    cursor: pointer;
}
a.footnote_marker:hover {
    text-decoration: none;
}

.footnote {
    font-size: 9px;
}

code.syntax {
    white-space: pre;
    font-size: 1.4em;
}

.example pre {
    line-height: 140%;
}

/* overrides padding-left in screen.css */
tbody td:first-child.indented_function  {
    padding-left: 40px;
}

h1 a {
    text-decoration: underline;
    color: #000;
}

.hide-detail {
    display: none;
}

input.default {
    color: #CBCBCB;
    font-style: italic;
}
li.expandable .treecontrol {
    display: none;
}

/* Disable (fixed-width) background image */
#main .doclist h2 {
    background: #6E782F;
}
.documentsTable a {
    text-decoration: underline;
}
.guide-pdf-link {
    float: right;
}

.nextChapter {
    float: right;
}
.previousChapter {
    float: left;
}

.printerFriendly {
    float: right;
}

a.sectionLink {
    color: #666;
}
a.sectionLink:hover {
    color: #235BAB;
}

.note,
.warning {
    min-height: 70px
}

.selected {
    color: #000;
    font-weight: bold;
    text-decoration: none;
    cursor: default;
}

.toc,
#api_sub {
    line-height: 100%;
}

.toc_section {
    height: 100%;
    /* width is 100% - width of splitter - width of Bootstrap margin negative offset */
    width: calc(100% - 12px);
}

.api_caption {
    position: absolute;
    font-size: 11px;
    width: 90%;
    margin-top: 41px;
    text-align: right;
}
table.api_table {
    width: 100%;
}
.api_table thead th {
    font-size: 20px;
    font-weight: normal;
    padding-top: 20px;
    padding-bottom: 10px;
}
.api_table thead th:first-child {
    padding-left: 15px;
    width: 250px;
}
.api_table tbody td {
    font-size: 11px;
    color: #333;
    line-height: 120%;
    padding-top: 5px;
    padding-bottom: 5px;
    vertical-align: middle;
}
.api_table tbody td:first-child {
    font-size: 12px;
}



/* Use brute force to undo the background property on th (set in screen.css) */
.api_generic_table tbody th:first-child,
.api_generic_table tbody th:last-child,
.api_generic_table tbody tr:first-child th:first-child,
.api_generic_table tr:first-child th:first-child,
.api_generic_table tbody:last-child tr:last-child th:first-child,
.api_generic_table tbody tr:first-child th:first-child,
.api_generic_table tbody:last-child tr:last-child th,
.api_generic_table tbody:last-child tr:last-child th:first-child,

/* th properties */
.api_generic_table th {
    background-image: none;
    background-color: #ECECEC;
    border: 1px solid #ccc;
}

/* Use brute force to undo the background property on td (set in screen.css) */
.api_generic_table tbody:last-child tr:last-child td:first-child,
.api_generic_table tbody td:last-child,
.api_generic_table tbody:last-child tr:last-child td,
.api_generic_table tbody:last-child tr:last-child td:last-child,
.api_generic_table tbody td:first-child,
.api_generic_table td {
    background-image: none;
    border: 1px solid #ccc;
}

/* more brute force to reset padding */
.api_generic_table tbody td:first-child,
.api_generic_table tbody th:first-child,
.api_generic_table td,
.api_generic_table th {
    padding: 15px 10px;
}

/* workaround for nowrap attributes that jquery is adding to the td tags */
table.api_generic_table td {
    white-space: normal;
}

/* prevent 1st para in multi-para table cells from having extra padding */
.api_generic_table p:first-child {
    margin-top: 0;
}

table.api_generic_table.guide_info {
    width: 100%;
}
table.api_generic_table.guide_info td,
table.api_generic_table.guide_info th {
    padding: 8px;
    font-size: .9em;
}

/* Make code font size match normal text size in table cells */
table.api_generic_table code {
    font-size: 100%;
}

table.parameters {
    table-layout: fixed;
    width: 100%;
}
table.parameters,
table.parameters code {
    font-size: 14px;
    line-height: 143%;
}
table.parameters .col1 {
    width: 25%;
}
table.parameters .col2 {
    width: 75%;
}

/* another brute-force fix to override screen.css */
table.parameters tbody td:last-child {
    background: url(/images/bg_cacaca.gif) top right repeat-y;
}

a.function_prefix {
    text-decoration: underline;
    color: #000;
}

/* Disqus tooltips don't interact well with our layout */
.dsq-tooltip-outer {
    display: none !important;
}

/* for admin help docs (actually for all strongs) */
strong {
    color: #2C2C2C;
}

img.adminHelp {
    vertical-align: baseline;
}

a.external {
    background: url(/apidoc/images/externalLink.png) center right no-repeat;
    padding-right: 12px;
}

#function_view_buttons {
    font-size: .8em;
    margin-top: -30px;
    margin-left: 170px;
    position: fixed;
}

/* decrease radio button size in FF/IE */
input.function_view {
    width: 10px;
    height: 10px;
}

/* Override screen.css to fit in with local rules. */
span.highlightWidget {
    margin: 0;
    right: 16px;
}

#page_content #comments .action {
    right: 48px;
    top: 16px !important;
}

/* On small screens, hide TOC and make other adjustments.
*/
@media (max-width:764px) {
    .pjax_enabled > .api_caption {
        display: none;
    }

    #header h1 {
        margin-bottom: 4px;
    }

    #header {
        width: 100%;
        top: 0px;
        // border: 0px;
    }

    #breadcrumb {
        display: none;
    }

    .navbar-header {
        padding: 10px 0px;
    }

    .navbar-top.ml-nav {
        display: none;
    }

    #header nav .current:after {
        content: none;
    }

    #dmc-navbar-collapse {
        position: absolute;
        background-color: #222;
        left: 0px;
        right: 0px;
        padding: 0px 15px;
        margin: 0px -1px;
    }

    #dmc-navbar-collapse .navbar-nav {
        margin-bottom: 0px;
    }

    #dmc-navbar-collapse li {
        padding: 2px 0px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    }

    #dmc-navbar-collapse li:hover {
        background-color: #333;
    }

    #header nav .current {
        padding-bottom: 2px;
    }

    #version_list option {
        font-size: initial;
    }

    #header h1 a {
        background: url(/images/logo-community-white-89x22.png) no-repeat;
        width: 89px;
        height: 22px;
        margin-bottom: 20px;
    }

    #breadcrumb {
        padding: 4px;
    }

    #breadcrumb > div:first-child {
        margin-bottom: 4px;
    }

    .version {
        padding: 12px 0px 12px 12px;
    }

    .toc_select {
        margin-left: 4px;
    }

    .scrollable_section .filter input {
        margin-left: 4px;
    }

    #api_sub {
        display: none;
    }

    #page_content {
        left: 0px;
        padding: 0px 5px;
    }

    #page_content h1 {
        margin: 24px 0 24px 0;
    }

    #copyright {
        padding: 4px;
    }

}

/* Anything smaller than an iphone 5 landscape. */
@media (max-width: 567px) {
    #header h1 {
        margin-bottom: 4px;
    }
    #header h1 a {
        background: url(/images/logo-community-white-89x22.png) no-repeat;
        width: 89px;
        height: 22px;
    }
    div.header-separator {
        display: none;
    }
    #search-header form input[type="text"] {
        width: 144px;
    }
    #search-header form input[type="text"]:focus {
        width: 144px;
    }
    #search-header form {
        margin-right: 4px;
    }
    #header-below-bottom-bar {
        padding-bottom: 8px;
    }
    #breadcrumb {
        padding: 4px;
    }
    #breadcrumb > div:first-child {
        margin-bottom: 4px;
    }
    .version {
        padding: 12px 0px 12px 12px;
    }
    #api_sub {
        display: none;
    }
    #page_content {
        position: initial;
        // margin: 108px 0px 0px 0px;
        overflow: auto;
        padding: 0px 5px;
    }
    #page_content > div {
        margin: 0 4px 0 4px;
    }
    #page_content h1 {
        margin: 24px 0 24px 0;
    }
    #copyright {
        padding: 4px;
    }
}

#footer {
  position: absolute;
  top: 609px;
  width: 100%;
}

#mlbs4-footer ul {
    padding-left: 20px;
    list-style: none;
}

/* this hides the 'FREE MARKLOGIC' in docs footer */
#menu-button-menu-free-ml-2 {
    display: none !important;
}

/* apidoc.css */
.marklogic-v2-nav .dropdown-menu.show {
  display: flex !important;
}
.marklogic-v2-nav .dropdown-menu>li>a {
  white-space: unset;
}
.marklogic-v2-nav .dropdown-menu.show .dropdown-menu-image img{
  width:-webkit-fill-available !important;
}