@font-face {
    font-family: 'entypo';
    src: url('/css/entypo/entypo.eot');
    src: url('/css/entypo/entypo.eot?#iefix') format('embedded-opentype'),
         url('/css/entypo/entypo.woff') format('woff'),
         url('/css/entypo/entypo.ttf') format('truetype'),
         url('/css/entypo/entypo.svg#entypo') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1, h2 {
  color: #191919;
}

h2, h3, h4, h5, h6 {
  margin-top: .1rem;
  margin-bottom: .1rem;
}

h3 {
  margin-top: .1rem;
  margin-bottom: .1rem;
}

h3 {
  margin-top: .1rem;
  margin-bottom: .1rem;
}

h2 .top {
  position: relative;
  top: -.8em;
}
h2 .median {
  position: relative;
  top: -.4em;
}
h2 .middle {
  position: relative;
  top: -.2em;
}
h2 .bottom {
  position: relative;
  top: -.05em;
}
h2 .label {
  position: relative;
  top: -.3em;
  font-size: 1.5rem;
}

p,
p.lead {
  margin-top: .1rem;
  margin-bottom: 1.5rem;
}

a {
  text-decoration: none;
  transition: color 0.5s ease;
}
a:hover {
  text-decoration: none;
}

.a-cta {
  text-transform: uppercase;
}

.cta-sm {
  font-size: 1.4rem;
}

.pipe {
  color: #ccc;
  font-weight: 100;
}

.border-none {
  border: none !important;
}

.btn {
  transition: background 0.5s ease;
}

.btn-default .glyphicon-chevron-right {
  color: #ccc;
  margin-left: .3em;
  position: relative;
  top: .05em;
}

.btn-default:hover .glyphicon-chevron-right {
  color: #b3b3b3;
}

@media (min-width: 1020px) {
  .container {
    min-width: 1020px;
  }
}

.container-main,
.section-row {
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid #ccc;
}

.search-wrapper {
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 0;
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
  display: table;
  width: 100%;
  transition: border 0.5s ease;
}
.search-wrapper input {
  border: 1px none;
  font-size: 2rem;
  line-height: 4rem;
  padding: .5rem 1.5rem;
  width: 100%;
  display: table-cell;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  transition: background 0.5s ease;
}
.search-wrapper .input-group-btn {
  margin: 0;
  padding: 0;
  width: 5%;
  position: initial;
  text-align: center;
  background: #428bca;
  height: 100%;
  display: table-cell;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.search-wrapper .input-group-btn button {
  position: initial;
  margin: 0;
  border: none;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: none;
  color: #fff;
  vertical-align: middle;
}
.search-wrapper .input-group-btn:hover {
  background: #3071a9;
}
.search-wrapper:hover {
  border: 1px solid #3071a9;
}

/* Home Page: Main Features Section ---------- */
.main-wrapper {
  display: table;
  width: 100%;
  background: #ccc;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: #f9f9f9;
  border-bottom: 1px solid #ccc;
}
.main-wrapper .row {
  display: table-cell;
  vertical-align: middle;
}
.main-wrapper .row .col {
  text-align: left;
}
.main-wrapper .row .col h1 {
  margin-bottom: 1.5rem;
}
.main-wrapper .row .col p.lead {
  margin-bottom: 1rem;
  line-height: 2.5rem;
}
.main-wrapper .row .col p {
  margin-bottom: 2rem;
}
.main-wrapper .row .col img {
}

.main-wrapper p, .learn-more p {
  line-height: 2rem;
}

/* Home Page: New Features Section ---------- */
ul.new-features p {
  font-size: 12px;
  line-height: 15px;
  margin-top: 7px;
  text-align: center;
}

.new-features {
  margin: 0;
  list-style: none;
  display: table;
  width: 100%;
  padding: 2rem 0;
}
.new-features li {
  display: table-cell;
  margin: 0;
  padding: 0;
  text-align: left;
  vertical-align: top;
}
.new-features li a {
  display: block;
  width: 100%;
}
.new-features li .feature-icon {
  border: none;
  background: #0065ba;
  width: 100px;
  height: 100px;
  transition: opacity 0.5s ease;
}
.new-features li .feature-icon:hover {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.home {
    background: white;
}

.home.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}

.vidbox {
    background: black;
    width: 460px;
    height: 259px;
    border: 1px solid #222222;
    -webkit-box-shadow: 2px 2px 11px rgba(50, 50, 50, 0.51);
    -moz-box-shadow:    2px 2px 11px rgba(50, 50, 50, 0.51);
    box-shadow:         2px 2px 11px rgba(50, 50, 50, 0.51);
}

.still {
    background-repeat: no-repeat;
    cursor: pointer;
    width: 460px;
    height: 245px;
}

#what-is-still {
  background-image: url(/media/home/pasqua-intro.png);
  border: 1px solid #ccc;
  border-radius: 4px;
  display: table;
}

#getting-started-still {
    background-image: url(/images/getting-started-still.png);
}

#what-is-still a {
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.still img, .still i {
  color: #fff;
  font-size: 60px;
  margin: 0px;
}

.learn-more img {
  border: 1px solid #ccc;
  height: 148px;
  margin-bottom: 1rem;
  width: 233px;
}

.data-hub img {
  background-color: #44499c;
}

.github-logo, .stackoverflow-logo {
  height: 14px;
  width: 14px;
}

#connect .method {
  padding-left:
}

.page-cta-wrapper {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media (max-width: 764px) {
  .still {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: 50%;
  }
}

#hero {
  margin-bottom: 30px;
}

#hero h1, #hero p {
  text-align: center;
}

#hero .buttons {
  text-align: center;
  width: 100%;
}

#latest-release {
  border-top: 1px solid #ccc;
  margin-bottom: 30px;
  padding-top: 30px;
}

#latest-release .logo {
  display: block;
  margin-left: auto;
  marigh-right: auto;
  max-height: 350px;
}

#latest-release .text {
  transform: translateY(25%);
}

#journey {
  border-top: 1px solid #ccc;
  margin-bottom: 30px;
  padding-top: 30px;
}

#key-resources {
  border-top: 1px solid #ccc;
  padding-top: 30px;
}

#connect {
  background-color: #333;
  border-top: 1px solid #ccc;
  color: white;
  overflow-y: auto;
  padding-right: 20px;
  padding-left: 20px;
}

#connect h1 {
  color: white;
  text-align: center;
}

#connect h2, #connect a {
  color: white;
}

#connect > p {
  text-align: center;
}

#connect .action {
  text-transform: uppercase;
}

div#content {
  padding-bottom: 0;
}

#videoModal .modal-content {
  width: 675px;
}
