@font-face {
    font-family: 'entypo';
    src: url('/css/entypo/entypo.eot');
    src: url('/css/entypo/entypo.eot?#iefix') format('embedded-opentype'),
         url('/css/entypo/entypo.woff') format('woff'),
         url('/css/entypo/entypo.ttf') format('truetype'),
         url('/css/entypo/entypo.svg#entypo') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1, h2 {
  color: #191919;
}

h2, h3, h4, h5, h6 {
  margin-top: .1rem;
  margin-bottom: .1rem;
}

h3 {
  margin-top: .1rem;
  margin-bottom: .1rem;
}

h3 {
  margin-top: .1rem;
  margin-bottom: .1rem;
}

h2 .top {
  position: relative;
  top: -.8em;
}
h2 .median {
  position: relative;
  top: -.4em;
}
h2 .middle {
  position: relative;
  top: -.2em;
}
h2 .bottom {
  position: relative;
  top: -.05em;
}
h2 .label {
  position: relative;
  top: -.3em;
  font-size: 1.5rem;
}

p,
p.lead {
  margin-top: .1rem;
  margin-bottom: 1.5rem;
}

a {
  text-decoration: none;
  transition: color 0.5s ease;
}
a:hover {
  text-decoration: none;
}

.a-cta {
  text-transform: uppercase;
}

.cta-sm {
  font-size: 1.4rem;
}

.pipe {
  color: #ccc;
  font-weight: 100;
}

.border-none {
  border: none !important;
}

.btn {
  transition: background 0.5s ease;
}

.btn-default .glyphicon-chevron-right {
  color: #ccc;
  margin-left: .3em;
  position: relative;
  top: .05em;
}

.btn-default:hover .glyphicon-chevron-right {
  color: #b3b3b3;
}

@media (min-width: 1020px) {
  .container {
    min-width: 1020px;
  }
}

.container-main,
.section-row {
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid #ccc;
}

.search-wrapper {
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 0;
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
  display: table;
  width: 100%;
  transition: border 0.5s ease;
}
.search-wrapper input {
  border: 1px none;
  font-size: 2rem;
  line-height: 4rem;
  padding: .5rem 1.5rem;
  width: 100%;
  display: table-cell;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  transition: background 0.5s ease;
}
.search-wrapper .input-group-btn {
  margin: 0;
  padding: 0;
  width: 5%;
  position: initial;
  text-align: center;
  background: #428bca;
  height: 100%;
  display: table-cell;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.search-wrapper .input-group-btn button {
  position: initial;
  margin: 0;
  border: none;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: none;
  color: #fff;
  vertical-align: middle;
}
.search-wrapper .input-group-btn:hover {
  background: #3071a9;
}
.search-wrapper:hover {
  border: 1px solid #3071a9;
}

/* Home Page: Main Features Section ---------- */
.main-wrapper {
  display: table;
  width: 100%;
  background: #ccc;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: #f9f9f9;
  border-bottom: 1px solid #ccc;
}
.main-wrapper .row {
  display: table-cell;
  vertical-align: middle;
}
.main-wrapper .row .col {
  text-align: left;
}
.main-wrapper .row .col h1 {
  margin-bottom: 1.5rem;
}
.main-wrapper .row .col p.lead {
  margin-bottom: 1rem;
  line-height: 2.5rem;
}
.main-wrapper .row .col p {
  margin-bottom: 2rem;
}
.main-wrapper .row .col img {
}

.main-wrapper p, .learn-more p {
  line-height: 2rem;
}

/* Home Page: New Features Section ---------- */
ul.new-features p {
  font-size: 12px;
  line-height: 15px;
  margin-top: 7px;
  text-align: center;
}

.new-features {
  margin: 0;
  list-style: none;
  display: table;
  width: 100%;
  padding: 2rem 0;
}
.new-features li {
  display: table-cell;
  margin: 0;
  padding: 0;
  text-align: left;
  vertical-align: top;
}
.new-features li a {
  display: block;
  width: 100%;
}
.new-features li .feature-icon {
  border: none;
  background: #0065ba;
  width: 100px;
  height: 100px;
  transition: opacity 0.5s ease;
}
.new-features li .feature-icon:hover {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.home {
    background: white;
}

.home.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}

.vidbox {
    background: black;
    width: 460px;
    height: 259px;
    border: 1px solid #222222;
    -webkit-box-shadow: 2px 2px 11px rgba(50, 50, 50, 0.51);
    -moz-box-shadow:    2px 2px 11px rgba(50, 50, 50, 0.51);
    box-shadow:         2px 2px 11px rgba(50, 50, 50, 0.51);
}

.still {
    background-repeat: no-repeat;
    cursor: pointer;
    width: 460px;
    height: 245px;
}

#what-is-still {
  background-image: url(/media/home/pasqua-intro.png);
  border: 1px solid #ccc;
  border-radius: 4px;
  display: table;
}

#getting-started-still {
    background-image: url(/images/getting-started-still.png);
}

#what-is-still a {
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.still img, .still i {
  color: #fff;
  font-size: 60px;
  margin: 0px;
}

.learn-more img {
  border: 1px solid #ccc;
  height: 148px;
  margin-bottom: 1rem;
  width: 233px;
}

.learn-more .cloud img {
  padding: 10px;
}

.data-hub img {
}

.data-hub img path {
  fill: red;
}

#connect .github-logo, #connect .stackoverflow-logo {
  height: 32px;
  width: 32px;
}

#connect .method {
  padding-left:
}

.page-cta-wrapper {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media (max-width: 764px) {
  .still {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: 50%;
  }
}

#hero {
  align-items: center;
  background: url('https://cdn1.marklogic.com/wp-content/uploads/2018/03/mlw-hero-dmc.jpg') no-repeat center center;
  background-size: cover;
  display: flex;
  height: 462px;
  min-height: 462px;
  overflow: hidden;
  position: relative;
}
#hero:before {
  background-color:  #000000;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .4;
  position: absolute;
  z-index: 1;
}
#hero .content {
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  z-index: 100;
}
#hero .hero-data {
  background-color: rgba(64,75,154,0);
  color: #fff;
  margin-top: 70px;
  padding: 3em;
}
#hero h1 {
  color: #fff;
  font-weight: bold;
  letter-spacing: .02em;
  margin: 0;
  text-shadow: 0px 2px 4px rgba(19,20,46,.5);
}
#hero p {
  font-size: 1.2em;
  margin: 15px auto;
  text-shadow: 0px 2px 4px rgba(26,26,28,.5);
  width: 80%;
  max-width: 950px;
}
#hero a.btn {
  background-color: #fb3449;
  color: #ffffff;
  border: none;
  margin: 10px;
  text-shadow: none;
}
#hero a.btn:hover {
  background-color: #fb4d5f;
}
@media screen and (max-width: 550px) {
  #hero .hero-data {
    margin-top: 0;
    padding: 1em;
  }
  #hero h1 {
    font-size: 2em;
  }
  #hero p {
    font-size: 1.1em;
    width: 90%;
  }
}

#latest-release {
  border-top: 1px solid #ccc;
  margin-bottom: 55px;
  padding-top: 55px;
}

#latest-release label {
  font-weight: normal;
  text-transform: uppercase;
}

#latest-release h1 {
  margin-top: 5px;
  margin-bottom: 15px;
}

#latest-release .logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 350px;
}

#latest-release .text {
  /* transform: translateY(10%); */
}

#latest-release a.btn {
  background-color: #6f79bd;
}

#latest-release a.btn:hover {
  background-color: #5e69b5;
}

#latest-release .pointers {
  margin-top: 25px;
  margin-bottom: 15px;
  overflow-y: auto;
}

#latest-release .pointer {
  color: #6068B2;
  float: left;
  margin-right: 20px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

#journey {
  border-top: 1px solid #ccc;
  margin-bottom: 30px;
  padding-top: 30px;
}

#key-resources {
  background-color: white;
  border-top: 1px solid #ccc;
  padding-top: 30px;
}

#key-resources h1 {
  margin-bottom: 50px;
  text-align: center;
}

#key-resources h4 a {
  color: #44499c;
}

#recent {
  background-color: white;
  border-bottom: none;
  margin-bottom: 0;
}

#recent .list-group-item .glyphicon {
  color: #6068B2;
  font-size: 24px;
  margin-top: 5px;
  margin-right: 15px;
  top: 0;
}

#recent h2 {
  margin-bottom: 40px;
  text-align: center;
}

#connect {
  background-color: #333;
  border-top: 1px solid #ccc;
  color: white;
  overflow-y: auto;
  padding-right: 20px;
  padding-left: 20px;
}

#connect h1 {
  color: white;
  margin-top: 50px;
  text-align: center;
}

#connect .description {
  margin-bottom: 50px;
}

#connect .glyphicon {
  font-size: xx-large;
  margin-bottom: 5px;
}

#connect h2, #connect a {
  color: white;
}

#connect > p {
  text-align: center;
}

#connect .action {
  text-transform: uppercase;
}

#connect .row {
  margin-bottom: 70px;
}

div#content {
  padding-bottom: 0;
}

#videoModal .modal-content {
  width: 675px;
}
